/* InfoSection.css */
.info-section {
    background-color: #D5CABD;
    padding: 40px 0;
  }
  
  .info-content {
    display: flex;
    justify-content: space-around;
  }
  
  .info-item {
    text-align: center;
    width: 220px;
  }
  
  .info-item i {
    display: inline-block;
    font-size: 30px;
    color: #FF9671;
    background-color: #FF9671;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 15px;
  }
  
  .info-item h3 {
    color: #000000;
    margin-bottom: 10px;
  }
  
  .info-item p {
    color: #000000;
  }
/* InfoSection.css */
.info-section {
    background-color: #D5CABD; /* Color de fondo */
    padding: 50px 0; /* Espaciado interior superior e inferior */
  }
  
  .info-content {
    display: flex;
    justify-content: space-between; /* Distribución horizontal */
    max-width: 1200px;
    margin: 0 auto; /* Centrar el contenido horizontalmente */
  }
  
  .info-item {
    text-align: center;
    width: 23%; /* Ancho de cada item */
  }
  
  .info-icon {
    font-size: 36px;
    color: black;
    background-color: #FF9671; /* Color del círculo de relleno */
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%; /* Hacer el círculo */
    margin: 0 auto 15px; /* Centrar verticalmente */
  }
  
  h3 {
    color: black; /* Color del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
  }
  
  p {
    color: black; /* Color del texto */
  }
    